table {
  width: 100%;
}

.setting-text {
  margin-right: 10px;
}

.img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

// .loading {
//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   margin: auto;
// }
