<div class="menu">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <a routerLink="/admin" mat-button class="button--block" (click)="drawer.toggle()">Admin</a>
      <!-- <a routerLink="/categories" mat-button class="button--block" (click)="drawer.toggle()">Categories</a> -->
      <!-- <a routerLink="/kpis" mat-button class="button--block" (click)="drawer.toggle()">Kpis</a> -->
      <a routerLink="/register" mat-button class="button--block" (click)="drawer.toggle()">Register</a>
      <a routerLink="/login" mat-button class="button--block" (click)="drawer.toggle()">login</a>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <span class="material-icons">
          menu
        </span>
      </button>
    </div>

  </mat-drawer-container>
</div>
