<!-- <div class="menu">
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <a routerLink="/admin" mat-button class="button--block">admin</a>
      <a routerLink="/categories" mat-button class="button--block">categories</a>
      <a routerLink="/kpis" mat-button class="button--block">kpis</a>
    </mat-drawer>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        <span class="material-icons">
          menu
        </span>
      </button>
    </div>

  </mat-drawer-container>
</div> -->
