.example-container {
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  background: none;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-s) var(--space-none);
}

.example-sidenav {
  padding: 20px;
}

.menu {
  .mat-drawer-content {
    position: fixed;
    top: 0;
  }
  .mat-drawer {
    position: fixed;
    width: 20%;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .inner-content {
    position: relative;
  }
}

.topbar {
  display: flex;
  justify-content: flex-end;
}
